.container-taskgroup {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 80px;
}

.menu-background {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
input{
  border: 1px solid $border;
  border-radius: 0px;
  min-height: 30px;
}
button {
  border: 1px solid $border;
  padding: 8px;
}
h2 {
  margin: 0px;
}
img{
  -webkit-user-drag: none;
}
.danger{
  background-color: hsl(348, 86%, 61%);
  color: white;
}
.success{
  background-color: hsl(153, 53%, 53%);
  color: white;
}
.dragging{
  opacity: 0.2;
}
.inputlabel-container{
  display: flex;
  align-items: center;
  gap: 5px;
  .errormessage{
    color: red;
    font-style: italic;
    font-size: 12px;
  }
}