@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
$header-color: #ffffff;
$background-color: #edf0f5;
$border: #dadada;

@import "general";
@import "components/layout";
@import "components/header";
@import "components/panel";
@import "components/taskgroup";
@import "components/task";
@import "components/createtask";
@import "components/creategroup";
@import "components/keysetter";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  background: $background-color;
}